# Testing Reports
Each class contains functions to be tested. Each function will be tested via boolean statements, essentially making sure the output or return value of the function is expected.
### Player Class
Upon testing each function, the following results were found.
Player class initialized to contain name joe and set isComputer to true.
- Is player name joe? true (expected true)
- Is player computer? true (expected true)
- Is hand size 0? false (expected false)

Card was removed from hand
- Is hand size 0? true (expected true)

### Card Class
Upon testing each function, the following results were found.
Card class initialized to contain color B and number 9.
- Is color blue (B)? true (expected true)
- Is number 9? true (expected true)
- Is card ability empty? true (expected true)
